/* STILE IN COMUNE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

img{
    width: 100%;
    display: block;
}

/* STILE HEADER */
#banner {
    display: flex;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    height: 80px;
}


/* Sezione sinistra (Logo + menu) */
.menu-left {
    display: flex;
    align-items: center;
    
}

/* Sezione destra (Supporto, Contatti, Accedi, Pulsante Inizia) */
.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
  
}

a:hover {
    color: blue;
}

/* Pulsante blu "Inizia" */
.blue-button {
    background-color: #0061fe;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
}

.blue-button:hover {
    filter: brightness(1.4);
}

h1{
    
    font-size: 4em;
}


/* STILE PER L'HEADER PT2 */
#jumbo{
    background-color: #b4d0e6;
    margin-bottom: 150px;
}

.container{
    width: 1190px;
    margin: 0 auto;

}

#jumbo .info{
    display: flex;
}

#jumbo .colonna-sx{
    position: relative;
    width: 30%;
}

#jumbo .colonna-dx{
    width: 70%;
}

.jumbo img{
    width: 100%;
    display: block;
}

#jumbo .container{
    position: relative;
    top: 100px;
}












.prova{
    background-color: #0061fe;
    color: white;
    border: none;
    padding: 10px 15px;
    
    font-weight: bold;
    cursor: pointer;
}

.prova:hover {
    filter: brightness(1.4);
}

.freccia-grande{
    position: absolute;
    top: 330px;
    font-size: 4em;
}
