/* STILE IN COMUNE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

img{
    width: 100%;
    display: block;
}

h1{
    margin-bottom: 55px;
    font-size: 4.5em;
}

h2{
    font-size: 2.5em;
}

header{
    position: sticky;
    top: 0px;
    z-index: 2;
}


/* STILE HEADER */
#banner {
    display: flex;
    background-color: white;

    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    height: 80px;
}


/* Sezione sinistra (Logo + menu) */
.menu-left {
    display: flex;
    align-items: center;
    
}

/* Sezione destra (Supporto, Contatti, Accedi, Pulsante Inizia) */
.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


#banner ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 20px;
}

#banner a {
    text-decoration: none;
    color: black;
  
}

#banner a:hover {
    color: blue;
}

/* Pulsante blu "Inizia" */
.blue-button {
    background-color: #0061fe;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;

}

.blue-button:hover {
    filter: brightness(1.4);
}



/* main stile */
#jumbo{
    background-color: #b4d0e6;
    margin-bottom: 150px;
}

.container{
    width: 1190px;
    margin: 0 auto;

}

#jumbo .container{
    position: relative;
    top: 100px;
}

#jumbo .info{
    display: flex;
}

#jumbo .colonna-sx{
    position: relative;
    width: 30%;
}

#jumbo .colonna-dx{
    width: 70%;
}

.jumbo img{
    width: 100%;
    display: block;
}

.btn-prova{
    background-color: #0061fe;
    color: white;
    border: none;
    padding: 10px 15px; 
    cursor: pointer;
    margin-bottom: 35px;
    margin-top: 35px;
}

.contact{
    padding-left: 70px;
    padding-right: 70px;
}

.btn-prova:hover {
    filter: brightness(1.4);
}

.freccia-grande{
    margin-top: 35px;
    font-size: 3em;
}


/* STILE BUSINESS CLASS */
.container-business{
    width: 1000px;
    margin: 0 auto;
}

.btn-choose {
    display: flex;
    align-items: center; 
    margin-top: 70px;
    gap: 10px; 
    margin-bottom: 50px;
}


.status-checked{
    display: flex;
    width: 20px;
    height: 20px;
    border: 5px solid #0061fe;
    border-radius: 50%;
    font-size: 11px;
    line-height: 18px;
    
}

.status{
    display: flex;
    width: 20px;
    height: 20px;
    border: 3px solid #d0d0d2;
    border-radius: 50%;
    font-size: 11px;
    line-height: 18px;
}

.first{
    margin-right: 50px;
}

/* STILE PER LE TABELLE */

.tabella{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: flex-start;

    
}
.tabella div {
    width: calc(100% / 3 - 50px); 
    text-align: center;
    padding-top: 10px ;
    border: 1px solid #d0cfd4;
    height: 950px;
    width: 300px;
}

.listino-prezzi p{
    text-align: left;
    margin-bottom: 15px;
    margin-left: 15px;
}

.listino-prezzi h3{
    text-align: left;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-top: 40px;
}

.listino-prezzi ul li{
list-style: none;
text-align: left;
margin-bottom: 15px;
margin-left: 15px;
display: flex;
gap: 10px;
}

.orizzontale{
    width: 100px;
}

.arrow-blu{
    color: #0061fe;
}

hr {
    width: 25%;
    margin-left: 15px
}


/* stile per la quarta tabella */
#barra {
    width: 100%;
    margin: 0; 
    border: none; 
    height: 0.5px; 
    background-color: #d0cfd4; /* Colore simile alla tabella */
    margin-top: 15px;
}

.orizzontale {
    width: 100%; /* Occupa tutta la larghezza */
    text-align: center;
    flex-direction: row; /* Allinea il contenuto in orizzontale */
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #d0cfd4;
    padding-top: 20px;
    margin-top: 50px; 
}


.orizzontale p{
    width: 60%;
}

.btn-dx{
    display: flex;
    justify-content: space-between;
}

 .btndx{
    margin-right: 30px;
}


/* stile per il blocco con il partner */
.partner{
    display: flex;
    margin-top: 210px;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 170px;
   
}

.content-sx{
    width: 60%;
}

.content-dx {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 20px;
    gap: 20px; 
    align-items: flex-start;
}

.content-dx h3{
    font-size: 1.5em;
}
.partner img{
    width: 100%;
    height: auto;
    display: block;
}

.find-partner-btn{
    padding: 10px 15px 10px 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}


/* stile per tabelle con foto */

.tabella-foto{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;

    
}
.tabella-foto div {
    width: calc(100% / 3 - 50px); 
    text-align: center;
    padding-top: 100px ;
    width: 300px;
}

.testo{
    width: 60%;
    margin-top: 220px;
    margin-bottom: 80px;
}



/* stile per il footer */
.footer-black{
    background-color: black;
    margin: 0 auto;
    margin-top: 190px;
}

.footer-info{
    display: flex;
    color: white;
    justify-content: space-between;
    line-height: 40px;
    padding-top: 110px;
}

.footer-info ul{
    list-style: none;
}

.cambio-lingua {
    color: white;
    border-top: 1px solid white; /* Bordo solo sopra */
    margin-top: 120px; 
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100px;
   
   
}





